  ul  li a{
    text-decoration: none;
    color: black;

}


li{
    list-style: none;
}

.media_btn {
    display: flex;
    margin-left: -40px;
}

.media-item
{
     font-size: 20px;
    margin: 10px;
}
 .copy {
     font-size: 14px;
    }
    li{
        font-size: 14px;
    }
    .link{
    margin-left: -40px;

}